[submodule "src/third_party/websocketpp"]
	path = src/third_party/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "src/third_party/SQLiteCpp"]
	path = src/third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
